<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="d:/IT/My_Projects/RentShop/RentShop_API/LogInfo/internallog.txt">
	<targets>
		<target name="htmlFile" xsi:type="File"
		        fileName="d:/IT/My_Projects/RentShop/RentShop_API/LogInfo/${shortdate}_logfile.html"
		        layout="${message} | ${exception:format=tostring}&lt;br /&gt;"
		        encoding="utf-8"
		        includeAllProperties="true"
		        archiveFileName="d:/IT/My_Projects/RentShop/RentShop_API/LogInfo/archive/{#}.html"
		        archiveNumbering="Date"
		        archiveAboveSize="5242880"
		        archiveEvery="Day"
		        maxArchiveFiles="7" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="htmlFile" />
	</rules>
</nlog>